/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 18px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}


/* Home page */

body {
	background-color: #dbdfe4;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#top-bandeau {
	position: relative;
	width: 960px;
	background-color: #4b596c; /* dark blue */
	height: 64px;
	top: 0;
}

.contact-icons {
	position: fixed;
	height: 64px;
	width: 960px;
	top: 0;
	z-index: 100;
}

.contact-icons > ul{
	/*right: 0px;*/
	position: absolute;
	top:0;
	right: 0;
	background-color: #4b596c;

	height: 64px;
	width: 220px;
	padding-left: 28px;
	border-radius: 0 0 0 12px;
}

.contact-icons > ul > li{
	float: left;
}

.contact-icons > ul > li > a {
	float: left;
	padding: 10px;

}

.main {
	background-color: #4b596c;
}
div.summary{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
section#summary {
	background-color: #f89a1e;
	padding-right: 32px;
	padding-left: 32px;
	color: #3c4759;
	position: relative;
}

section#summary #inner_summary{
	background-color: #dbdfe4;
	height: 148px;
	position: relative;
}

section#summary h1{
	font-size: 44px;
	position: absolute;
	bottom: 40px;
	left: 134px;
	font-weight: bold;
}

section#summary h2{
	font-size: 26px;
	text-transform: uppercase;
	position: absolute;
	bottom: -3px;
	left: 134px;
	font-weight: bold;
}
section#summary img{
	float: left;
}

.about-me {
	padding: 40px;
	color: white;
	font-weight: normal;
	line-height: 1.2em;
	font-size: 17px;
}
.about-me p{
	margin-bottom: 6px;
}

.about-me a, .about-me a:hover, .about-me a:visited{
	color: white;
}


#projects {
	padding: 12px 32px;
	color: #3c4759;
	position: relative;
}

#projects h2 {
	color: white;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 500;
	position: absolute;
	right: 50px;
	top: -12px;
}

#projects > ul > li {
	border: 4px solid white;
	background-color: #cfdbe3;
	margin-bottom: 32px;
	padding: 12px;
	box-shadow: 4px 4px 8px 0px #000;
}

#projects > ul > li img{
	width: 340px;
	float: left;
	margin-right: 28px;
}

h3 {
	margin-top: 3px;
	margin-bottom: 10px;

	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

.words {
	font-size: 14px;
}

.words h4 {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.words p {
	line-height: 1.1em;
	margin-bottom: 6px;
}

.words ul {
	list-style: circle;
	margin-left: 24px;
	margin-bottom: 12px;
}

.words li {
	position: relative;
	left: 20px;
	margin: 6px;
}

strong {
	font-weight: bold;
}
.hidden {
	display: none;
}

/* Project pages */

body.project {
	background-color: #4b596c;
}

#wrapper-project {
	width: 960px;
	margin: 20px auto;
}

.mondrian #wrapper-project {
	width: 800px;
}

.project-div {
	border: 4px solid white;
	background-color: #cfdbe3;
	margin-bottom: 32px;
	padding: 12px;
	box-shadow: 4px 4px 8px 0px #000;
	text-align: center;
}

.project-intro {
	text-align: left;
}

#controls {
	margin-top: 18px;
	margin-bottom: 18px;
	position: relative;
	text-align: left;
}

#download_button {
	position: absolute;
	right: 40px;
	bottom: 0;
}

#display {
    background-color: #ffffff;
    margin: 0 auto;
}
