body {
	background: #000000;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#container {
	width: 100%;
	height: 100%;

	#videoContainer{
		position: relative;
		width: 100%;
		height: 100%;

		video {
			width: 100%;
			max-height: 100%;
		}

		div#map  {
			// width, height and margin-left set in JS
			position: absolute;
			left: 50%;
			bottom: 7%;
			opacity: 0;
			border-radius: 50%;
			transition: opacity 2s;
		}

		div#panorama  {
			// width, height and margin-left set in JS
			position: absolute;
			left: 50%;
			bottom: 7%;
			opacity: 0;
			transition: opacity 2s;
		}

		&.showControls {
			div#map  {
				opacity: 0.6;
			}
			div#panorama  {
				opacity: 0.6;
			}

		}
	}
}

.warningMessage {
	background: #333;
	border: 1px dashed #ffff00;
	color: #dddd00;
	font-size: 125%;
	font-weight: bold;
	padding: 10px;
	margin: 0 0 30px 0;
}

